body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color: lightgrey;
}

img {
    height: 225px;
}

.poster {
    display:flex;
    flex-direction: column;
    background-color: white;
    margin: 40px;
    border: solid grey;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px darkgray;
    max-width: 600px
}

.missing {
    background-color: red;
    width:100%;
    color: white;
}

.poster ul {
    text-align: left;
    align-self: center;
}

.poster .contact {
    margin-inline: 5%;
}

.reward {
    border: dashed red;
    margin: 10px;
    color: red;
}
