.Imgbox{
    border:solid red;
    height:100px;
    width:100px;
}
.changeBG{
    border:solid red;
    height:100px;
    width:100px;
    background-color: blueviolet;
}

img {
    width: 100%;
}

.hidden {
    display:none;
}