body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 100px;;
    border: solid thick black;
    width:600px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/f5/7e/f2/f57ef2ee0d54e2c0df32ea04d463acff.jpg");
    background-size:cover;
}

.img-box {
    width: fit-content;
    /* z-index: 3; */
}

.player-img {
    border: solid brown;
    height: 100px;
    /* content: url('./sprites/majin-vegeta.gif'); */
}


.player {
    display: flex;
    flex-direction: column-reverse;
    background-color: green;
    /* height: 200px; */
    justify-content: center;
    align-items: center;
}

.alien {
    background-color: red;
    display: flex;
    flex-direction: column-reverse;
    /* height: 200px; */
    justify-content: center;
    align-items: center;
}

.alien-img {
    border: solid brown;
    height: 100px;
    /* content: url('./sprites/frieza-idle.gif'); */
    transform: rotateY(180deg);
}



.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidden {
    display: none;
}

aside {
    border: solid red;
    margin: 100px;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    z-index: 3;
}
