@import url("https://fonts.cdnfonts.com/css/outlander");

body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-family: "outlander", sans-serif;
  background-color: #1C9763;
}

nav {
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color:black;
  color: white;
  margin-bottom: 20px;
}

.logo {
  border: solid thin white;
  border-radius: 50%;
  height: 48px;
  margin-inline: 15px;
  text-align: center;
}

.websiteTitle {
  font-size: 36px;
  text-align: center;
}

main {
  /* border: solid red; */
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 900px;
  align-self: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: aliceblue;
}

.raceTrackContainer {
  display: flex;
  flex-direction: column;
  /* border: solid blue; */
  width: 600px;
  height: 800px;
  margin-inline: 10px;;
}

.middleBox {
  border:dashed 10px white;
  width: 450px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;

}

.innerBox {
  border: solid white;
  width: 50%;
  height: 50%;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;

}

.raceTrack {
  display: flex;
  border: solid white;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  background-color: #505050;
}

.racersContainer {
  width:300px;
}

.racerContainer button {
  font-size: large;
  font-family: "outlander", sans-serif;
  border-radius: 5px;

}

.selectRacers {
  display: flex;
  flex-direction: column;
  /* border: solid yellow; */
  height: 50%;
  justify-content: center;
  align-items: center;
}

.racerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@keyframes startRaceButton {
  0% {
  }
  100%{
    font-size: 24px;
  }
}

.startRace {
  font-size: 20px;
  font-family: "outlander", sans-serif;
  color: green;
  background-color: yellow;
  border-radius: 5px;
  padding: 0.5em;
  animation: startRaceButton 2.5s ease-in-out infinite;
}



.racerPodium {
  /* border: soslid black; */
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.racers {
  /* border: solid green; */
  display: flex;
  flex-wrap: wrap;
  height: 0px;
}
.racer {
  height: 50px;
  width: 40px;
  position: relative;
  top: 275px;
  margin: 4px;
  border-radius: 50%;
}

.racer-selected {
  background-color: gold;
}

.award-winners {
  border-radius: 5px;
  font-family: "outlander", sans-serif;
  font-size: x-large;
  color: blue;
  background-color: darkgray;
}

.podiumGrid {
  display: none;
  grid-template-columns: repeat(3,1fr);
  /* border: solid black; */
  width: 200px;
  height:200px;
  text-align: center;
  padding: 20px 20px 0px;
  margin-bottom: 20px;
  
}

.winner-podium {
  display: grid;
  background-image: url('https://i.pinimg.com/originals/41/e7/4b/41e74b0f91b7cb7df6b73e34ae8528a4.gif');
  background-size: contain;
}

.podium-stand {
  background-color: brown;
}

#first-stand {
  border-top: solid thick black;
  border-inline: solid thick black;
  background-color: gold;
}
#second-stand {
  border-top: solid thick black;
  border-bottom: solid thick black;
  border-left: solid thick black;
  background-color: silver;
}
#third-stand {
  border-top: solid thick black;
  border-bottom: solid thick black;
  border-right: solid thick black;
  background-color: #CD7F32;
}
#empty-stand {
  border-bottom: solid thick black;
}



footer {
  background-color: black;
  height: 100px
}